<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <div class="card card-author div-center">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="avatar-author" src="{{authorData.avatar_url}}" alt="Avatar">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Author</h5>
                    <p class="card-text"><strong>{{author}}</strong></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Repository</h5>
                    <p class="card-text"><strong>{{repo}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start" ng-repeat="commit in commits">
                <div>
                    <strong>{{commit.commit.committer.name}}</strong>
                    <small>
                        <{{commit.commit.committer.email}}> 
                    </small>
                    <small class="text-muted">{{commit.commit.committer.date | timeAgo}}</small>
                    <p>{{commit.commit.message}}</p>
                </div>
                <div class="btn-group" role="group" aria-label="Commit Info Buttons">
                    <button type="button" class="btn btn-info" ng-click="selectCommit(commit)">More</button>
                    <a type="button" ng-href="{{commit.html_url}}" class="btn btn-secondary">GH View</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="modalDetails" class="modal" data-easein="bounceDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-small">
            <div class="modal-header">
                <h4 class="modal-title">{{commit.commit.message}}
                    <small>
                        {{commit.commit.committer.date | date:'EEE dd MMM yyyy HH:mm:ss'}}
                    </small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in commitDetails.files">
                        <strong>{{file.filename}}</strong>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" ng-style="{width : (((file.additions/file.changes)*100) + '%' ) }" aria-valuenow="{{((file.additions/file.changes)*100)}}" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" ng-style="{width : (((file.deletions/file.changes)*100) + '%' ) }" aria-valuenow="{{((file.deletions/file.changes)*100)}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="text-center">
                            <small class="file-additions">{{file.additions}} Additions</small> -
                            <small class="file-deletions">{{file.deletions}} Deletions</small> -
                            <small class="file-changes">{{file.changes}} Changes</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>