<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <div class="card card-author div-center">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="avatar-author" src="{{authorData.avatar_url}}" alt="Avatar">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Author <i class="fas fa-pencil-alt"></i></h5>
                    <p class="card-text">
                        <a ng-href="{{authorData.html_url}}" target="_blank"><strong>{{author}}</strong></a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Repository <i class="fas fa-folder-open"></i></h5>
                    <p class="card-text"><strong>{{repo}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-warning float-right" ng-click="getCommitList()">
        <span ng-hide="loading"><i class="fas fa-sync"></i></span>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-hide="!loading"></span>
    </button>
    <br>
    <br>
    <div>
        <div class="card border-light mb-3 shadow p-3 mb-4 bg-body rounded" ng-repeat="commit in commits">
            <div class="card-header">
                <img class="avatar-commiter" src="{{commit.committer.avatar_url}}" alt="Avatar">
                <strong>{{commit.commit.committer.name}}</strong>
                <small>
                    <{{commit.commit.committer.email}}>
                </small>
                <small class="text-muted"><i class="fas fa-clock"></i> {{commit.commit.committer.date |
                    timeAgo}}</small>
            </div>
            <div class="card-body d-flex justify-content-between row">
                <p class="card-text">
                    <i class="fas fa-comment-dots"></i> {{commit.commit.message}}
                </p>
                <div class="btn-group" role="group" aria-label="Commit Info Buttons">
                    <button type="button" class="btn btn-info" ng-click="selectCommit(commit)"><i
                            class="fas fa-info"></i></button>
                    <a type="button" ng-href="{{commit.html_url}}" class="btn btn-secondary" target="_blank">View <i
                            class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetails" class="modal" data-easein="bounceDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{commit.commit.message}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-md-12">
                <div class="alert alert-info text-center" role="alert">
                    {{commitDetails.files.length}} files updated! GitHub commit info <a ng-href="{{commit.html_url}}" class="alert-link" target="_blank">here</a>.
                    <small class="text-muted">
                        {{commit.commit.committer.date | date:'yyyy/MM/dd HH:mm:ss'}}
                    </small>
                </div>
                <div class="row col-md-12">
                    <div class="card col-md-6" ng-repeat="file in commitDetails.files">
                        <strong>{{file.filename}}</strong>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" ng-style="{width : (((file.additions/file.changes)*100) + '%' ) }" aria-valuenow="{{((file.additions/file.changes)*100)}}" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" ng-style="{width : (((file.deletions/file.changes)*100) + '%' ) }" aria-valuenow="{{((file.deletions/file.changes)*100)}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="text-center">
                            <small class="file-additions">{{file.additions}} Additions</small> -
                            <small class="file-deletions">{{file.deletions}} Deletions</small> -
                            <small class="file-changes">{{file.changes}} Changes</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>