body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F6F6F6;
}

.footer-text {
    text-align: center;
    background-color: #000000;
    color: #fff;
}

footer {
    display: block;
}

.file-additions {
    color: #2c6803
}

.file-deletions {
    color: #d6390a
}

.file-changes {
    color: #090cb4
}

.div-center {
    margin: auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

.msc-confirm {
    z-index: 999999999;
}