body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F6F6F6;
}

.footer-text {
    text-align: center;
    background-color: #000000;
    color: #fff;
}

footer {
    display: block;
}